@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(100, 108, 255, 1);
  text-decoration: inherit;
}
a:hover {
  color: rgba(83, 91, 242, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(26, 26, 26, 1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(100, 108, 255, 1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.rainbow {
	height: 100vh;
	width: 0;
	top: 0;
	position: absolute;
  filter: blur(80px);
	transform-origin: top right;
}

.rainbow:nth-child(1) {
  box-shadow: -25vw 0 15vw 5vw rgba(0, 0, 0, 0.75), 0px 0 40vw 30vw rgba(244, 51, 61, 0.75), 20vw 0 15vw 5vw rgba(0, 0, 0, 0.75);
  animation: slide 10.1s linear infinite;
  animation-delay: -1.8s;
  transform: rotate(10deg);
}

.rainbow:nth-child(2) {
  box-shadow: -25vw 0 15vw 5vw rgba(0, 0, 0, 0.75), 0px 0 40vw 32vw rgba(166, 23, 23, 0.75), 20vw 0 15vw 5vw rgba(0, 0, 0, 0.75);
  animation: slide_left 11.2s linear infinite;
  transform: rotate(6deg);
  animation-delay: -3.6s;
}

.rainbow:nth-child(3) {
  height: 80vh;
  top: 0;
  box-shadow: -25vw 0 10vw 5vw rgba(0, 0, 0, 0.75), 0px 0 30vw 25vw rgba(102, 0, 0, 0.75), 20vw 0 10vw 5vw rgba(0, 0, 0, 0.75);
  animation: slide 20.3s linear infinite;
  transform: rotate(12deg) ;
  animation-delay: -9.4s;
}

.rainbow:nth-child(4) {
  box-shadow: -25vw 0 15vw 5vw rgba(0, 0, 0, 0.75), 0px 0 40vw 18vw rgba(244, 51, 61, 0.75), 20vw 0 15vw 5vw rgba(0, 0, 0, 0.75);
  animation: slide_left 10.5s linear infinite;
  animation-delay: -6s;
  transform: rotate(0deg);
}

.rainbow:nth-child(5) {
  height: 80vh;
  top: 20vh;
  box-shadow: -25vw 0 15vw 5vw rgba(0, 0, 0, 0.5), 0px 0 45vw 15vw rgba(237, 109, 115, 0.75), 20vw 0 15vw 5vw rgba(0, 0, 0, 0.5);
  animation: slide_left 15.1s linear infinite;
  animation-delay: -2.7s;
  transform: rotate(-5deg);
}

.rainbow:nth-child(6){
  box-shadow: 0px 0 20vw 10vw rgba(0, 0, 0, 0.5);
  animation: slide 10.1s linear infinite;
  animation-delay: -7.1s;
  transform: rotate(5deg);
}

.rainbow:nth-child(7){
  box-shadow: 0px 0 45vw 30vw rgba(244, 51, 61, 0.8);
  animation: slide 5.1s linear infinite;
  animation-delay: -5.1s;
  transform: rotate(-15deg);
}

@keyframes slide {
  from {
    right: -50vw;
 }
  to {
    right: 150vw;
 }
}

@keyframes slide_left {
  from {
    right: 150vw;
  }
  to {
    right: -50vw;
  }
}